<footer class="bg-light text-center text-lg-start container-fluid">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3">AYUSHMAN HOSPITALS</h5>
          <p>
            Ayushman Hospital is a leading provider of healthcare services in the
            medical area. We are committed to providing our patients with
            the highest quality care, compassion, and respect.
          </p>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3">Important Links</h5>
          <ul class="list-unstyled mb-0">
              <li><a href="https://www.mohfw.gov.in/">Ministry of Health and Family Welfare</a></li>
            <li><a href="https://abha.abdm.gov.in/" target="_blank">Ayushman Bharat Health Account (ABHA)</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <h5 class="mb-3">Contact Us</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#">Phone: +91 234 567 890</a></li>
            <li><a href="#">Email: ayushmanbharat@info</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4">
          <img src="../../../assets/hospital_logo.svg" height="200px" width="200px" alt="Image">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="text-center">
            © 2023 All rights reserved.
          </p>
        </div>
      </div>
    </div>
    </footer>
  